<!-- Conteneur principal pour le panier -->
<div class="container py-3">
  
  <!-- Titre de la page du panier -->
  <h2>Votre Panier</h2>

  <!-- Affichage du message d'erreur si une erreur est présente -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- ng-container permet d'afficher du contenu conditionnel sans ajouter d'élément HTML supplémentaire dans le DOM -->
  <!-- On utilise *ngIf pour vérifier si le panier contient des éléments -->
  <ng-container *ngIf="cartItems.length > 0; else emptyCart">
    <!-- Tableau affiché si le panier contient des éléments -->
    <table class="table">
      <!-- En-tête du tableau avec les noms des colonnes -->
      <thead>
        <tr>
          <th>Service</th>
          <th>Produit</th>
          <th>Matière</th>
          <th>Quantité</th>
          <th>Date de Dépôt</th> <!-- Nouvelle colonne pour la date de dépôt -->
          <th>Prix</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <!-- Corps du tableau avec les lignes générées pour chaque élément du panier -->
      <tbody>
        <!-- *ngFor est utilisé pour itérer sur les éléments du panier -->
        <tr *ngFor="let item of cartItems">
          <!-- Affichage des détails de chaque élément du panier -->
          <td>{{ item.service.name }}</td> 
          <td>{{ item.product.name }}</td> 
          <td>{{ item.matter.name }}</td> 
          <td>
            <div class="d-flex align-items-center">
              <p class="mx-2">{{ item.quantity }}</p>
            </div>
          </td>
          <!-- Affichage de la date de dépôt -->
          <td>{{ item.depositDate | date : "dd-MM-YYYY"}}</td> <!-- Nouvelle colonne pour la date de dépôt -->
          <!-- Affichage du prix total de l'article -->
          <td>{{ item.totalPrice }} €</td>
          <!-- Bouton pour retirer l'article du panier -->
          <td>
            <button class="action" (click)="removeItem(item)">x</button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <!-- Affichage du prix total de tous les articles dans le panier -->
    <h4>Total: {{ getTotalPrice() }} €</h4>
    <!-- Bouton pour valider la commande -->
    <button class="btn my-3" (click)="validateOrder()">Valider votre commande</button>
  </ng-container>
  <!-- ng-template utilisé pour afficher un message lorsque le panier est vide -->
  <ng-template #emptyCart>
    <div>Votre panier est vide.</div>
  </ng-template>
</div>
