<div class="container">
  <h2>Votre Panier</h2>
  <ng-container *ngIf="cartItems$ | async as cartItems">
    <div *ngIf="cartItems.length === 0">Votre panier est vide.</div>
    <table *ngIf="cartItems.length > 0" class="table">
      <thead>
        <tr>
          <th>Service</th>
          <th>Produit</th>
          <th>Matière</th>
          <th>Quantité</th>
          <th>Prix Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.service?.name }}</td>
          <td>{{ item.product?.name }}</td>
          <td>{{ item.matter?.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.totalPrice }} €</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>



