<header>
  <!-- Div contenant le logo -->
  <div class="logo-container d-flex justify-content-center py-3">
      <a class="navbar-brand" routerLink="/">
          <img src="uploads/logo_cleandressing.webp" alt="logo-clean-dressing">
      </a>
  </div>

  <!-- Barre de navigation principale -->
  <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light p-3">
      <div class="container-fluid">
          <!-- Bouton de toggle pour les écrans de petite taille -->
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Contenu de la barre de navigation -->
          <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  
                  <li class="nav-item"><a class="nav-link" aria-current="page" routerLink="/">ACCUEIL</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="category">NOS PRESTATIONS</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="conseil">NOS CONSEILS</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="contact">CONTACTEZ-NOUS</a></li>
              </ul>
              <ul class="navbar-nav d-flex align-items-md-center ">
                  <!-- Bouton pour se connecter, visible seulement si l'utilisateur n'est pas connecté -->
                  <li class="nav-item d-flex align-items-center " *ngIf="!authService.isLogged()">
                    <a class="nav-link btn me-2 mb-3 mb-md-0" (click)="authService.setRedirectUrl('/'); router.navigate(['/connexion'])">SE CONNECTER</a>
                  </li>
                  <!-- Bouton pour s'inscrire, visible seulement si l'utilisateur n'est pas connecté -->
                  <li class="nav-item d-flex align-items-center" *ngIf="!authService.isLogged()">
                    <a class="nav-link btn1" (click)="authService.setRedirectUrl('/'); router.navigate(['/connexion'])">S'INSCRIRE</a>
                  </li>
                  <!-- Bouton pour se déconnecter, visible seulement si l'utilisateur est connecté -->
                  <li class="nav-item d-flex align-items-center" *ngIf="authService.isLogged()">
                    <a class="nav-link btn1 px-3" (click)="authService.logout()">SE DÉCONNECTER</a>
                  </li>
                  <!-- Lien vers le profil de l'utilisateur, visible seulement si l'utilisateur est connecté -->
                  <li class="nav-item" *ngIf="authService.isLogged()">
                    <a class="nav-link" routerLink="/profile" *ngIf="user">
                      <img [src]="urlImage + user.picture" alt="Profile picture" class="profile-img profile-style"/>
                    </a>
                  </li>
                  
                  <!-- Lien vers le panier -->
                  <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" routerLink="panier">
                          <span class="raphael--cart"></span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
