
nav{
  border-top: 2px solid var(--bg2);
}


.navbar {
  transition: top 0.3s; 
}

.fixed-navbar {
  position: fixed !important; 
  top: 0; 
  width: 100%; 
  z-index: 998; 
}

.logo-container {
  position: relative; /* Position relative pour le logo container */
  z-index: 999; /* Assure que le logo est au-dessus des autres éléments */
}

.navbar {
  background-color: #f8f9fa; /* Couleur d'arrière-plan de la navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.navbar-nav .nav-link {
  padding: 10px 15px; /* Espacement des liens */
}

.navbar-nav:first-child {
  margin-right: auto; /* Écart à gauche pour les liens principaux */
}

.navbar-nav:last-child {
  margin-left: auto; /* Écart à droite pour les liens de connexion */
}

.nav-link {
  color: var(--texte); /* Couleur du texte des liens */
}

.nav-link:hover {
  color: var(--bg2); /* Couleur du texte des liens au survol */
}

.btn1 {
  background-color: var(--texte);
  border-radius: 20px;
  color: var(--light);
  font-size: 16px;
  padding: 10px 30px;
}
.btn1:hover {
  background-color: transparent;
  border: 2px solid var(--texte);
  color: var(--texte);
}

.btn {
  background-color: var(--bg2);
  border-radius: 20px;
  color: var(--light);
  font-size: 16px;
  padding: 10px 20px;
}

.btn:hover{
  border: 2px solid var(--bg2);
  background-color: transparent;
  color: var(--bg2);
}