<!-- Section de pied de page -->
<footer class="background">
  <!-- Conteneur principal pour les éléments de pied de page -->
  <div class="container">
    <!-- Ligne de contenu du pied de page avec espacement et alignement -->
    <div class="row pt-xxl justify-content-center text-center text-lg-start">

      <!-- Colonne pour les liens "À propos" -->
      <div class="col-lg-2 col-12 col-md-4 mb-3">
        <h4 class="text-white">À propos</h4>
        <ul class="">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Espaces Presse</a></li>
          <li><a href="#">Vous êtes pro ?</a></li>
        </ul>
      </div>

      <!-- Colonne pour les liens "Légal" -->
      <div class="col-lg-3 col-md-3 col-12 mb-3">
        <h4 class="text-white">Légal</h4>
        <ul class="">
          <li><a href="#">CGV</a></li>
          <li><a href="#">Conditions d'utilisation</a></li>
          <li><a href="#">Données Personnelles</a></li>
          <li><a href="#">Mentions Légales</a></li>
          <li><a href="#">Politique de remboursement</a></li>
        </ul>
      </div>
      <!-- Colonne pour l'inscription à la newsletter -->
      <div class="col-lg-3 col-md-3 col-12 mb-3">
        <h4 class="text-white">Inscrivez-vous</h4>
        <!-- Formulaire d'inscription à la newsletter -->
        <form method="post" action="traitement.php">
          <label for="email">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Adresse mail"
              class="form-control "
            />
          </label>
          <!-- Bouton d'inscription -->
          <button type="submit" class="btn col-6 mb-2"><b>S'inscrire</b></button>
        </form>
        <p class="text-white mb-3">Recevez nos dernières actualités !</p>
      </div>

      <!-- Colonne pour les icônes de réseaux sociaux -->
      <div class="col-lg-3 col-12 col-md-3 mb-3">
        <h4 class="text-white mb-3">Suivez-nous</h4>
        <!-- Conteneur pour les icônes des réseaux sociaux -->
        <div class="d-flex gap-2 justify-content-center justify-content-lg-start">
          <!-- Lien et icône Facebook -->
          <a href="#" aria-label="Facebook">
            <span class="logos--facebook"></span>
          </a>
          <!-- Lien et icône Instagram -->
          <a href="#" aria-label="Instagram">
            <span class="skill-icons--instagram"></span>
          </a>

          <a href="#" aria-label="Instagram">
            <span class="skill-icons--twitter"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Ligne de copyright et navigation supplémentaire -->
  <div class="row border-top mt-3 pt-3">
    <div class="col-12">
      <p class="text-white text-center">
        Copyright &copy; 2024
        <a href="index.html">KADOURI Nabil</a>
      </p>
    </div>
  </div>
</footer>


