
<section>
  <div class="container">
      <div class="row gap-5 justify-content-center">
          <div class="col-lg-5 col-12 mb-3">
              <div class="mb-4">
                  <h2 class=" my-4"><span class="border-title px-2">NOS HORAIRES</span></h2>
                  <div class="d-flex justify-content-between  bg-blue-clair shadow">
                      <div class="px-3 pt-3">
                          <p><b>Lundi</b></p>
                      </div>
                      <div class="px-3 pt-3">
                          <p><b>8h00 - 19h00</b></p>
                      </div>
                  </div>
                  <div class="d-flex justify-content-between ">
                      <div class="px-3 pt-3">
                          <p><b>Mardi</b></p>
                      </div>
                      <div class="px-3 pt-3">
                          <p><b>8h00 - 19h00</b></p>
                      </div>
                  </div>
                  <div class="d-flex justify-content-between bg-blue-clair shadow">
                      <div class="px-3 pt-3">
                          <p><b>Mercredi</b></p>
                      </div>
                      <div class="px-3 pt-3">
                          <p><b>8h00 - 19h00</b></p>
                      </div>
                  </div>
                  <div class="d-flex justify-content-between  ">
                      <div class="px-3 pt-3">
                          <p><b>Jeudi</b></p>
                      </div>
                      <div class="px-3 pt-3">
                          <p><b>8h00 - 19h00</b></p>
                      </div>
                  </div>
                  <div class="d-flex justify-content-between bg-blue-clair shadow">
                      <div class="px-3 pt-3">
                          <p><b>Vendredi</b></p>
                      </div>
                      <div class="px-3 pt-3">
                          <p><b>8h00 - 19h00</b></p>
                      </div>
                  </div>
                  <div class="d-flex justify-content-between ">
                      <div class="px-3 pt-3">
                          <p><b>Samedi</b></p>
                      </div>
                      <div class="px-3 pt-3">
                          <p><b>8h00 - 19h00</b></p>
                      </div>
                  </div>
                  <div class="d-flex justify-content-between bg-blue-clair shadow">
                      <div class="px-3 pt-3">
                          <p><b>Dimanche</b></p>
                      </div>
                      <div class="px-3 pt-3">
                          <p><b>Fermé</b></p>
                      </div>
                  </div>
              </div>
          </div>

          <!-- map -->
          <div class="col-lg-5 col-12">
              <div class=" mb-4">
                  <h2 class=" my-4"><span class="border-title px-2">NOUS SITUER</span></h2>
                  <div>
                      <iframe
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2785.375531334481!2d4.841517575815785!3d45.72356321609686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4e9c6a0e3e793%3A0x8d5b266ba1cdaf3d!2s13%20Rue%20Pierre%20Gilles%20de%20Gennes%2C%2069007%20Lyon!5e0!3m2!1sfr!2sfr!4v1707064542538!5m2!1sfr!2sfr"
                          width="540" height="390" style="border:0;" allowfullscreen="" loading="lazy"
                          referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
