a{
  color: var(--bg2);
}



.bg-article{
  background-color: #E5DFCA;
}




h5,h6{
  color: var(--bg2);
}


.figure-caption-overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* bande transparente noire */
  color: white; /* texte blanc */
  text-align: center;
  padding: 5px 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.card {
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}