<section class="article-section">
  <div class="container">
    <div class="row my-5" *ngIf="article$ | async as article">
      
      <!-- Article Image and Title -->
      <div class="col-md-4">
        <h2 class="article-title text-center">{{ article.title }}</h2>
        <div class="image-container d-flex justify-content-center align-items-center">
          <img [src]="'../uploads/' + article.picture" alt="{{ article.title }}" class="img-fluid rounded">
        </div>
      </div>
      
      <!-- Article Content -->
      <div class="col-md-8">
        <h3 class="article-subtitle">{{ article.subtitle }}</h3>
        <div class="article-description" *ngIf="article.description">
          <ul>
            <li [innerHTML]="article.description | formatDescription"></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</section>
