.hero-bg {
  background-image: url('/Business-case-images/fonds/fond.png');
  background-size: cover;
  background-position: top;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 200px;
}