<section >
  <div class="container-fluid hero-bg h-100 py-4 ">

      <div class=" text-center pt-5 ">
          <h1 class="display-5"> Vos vêtements ont une histoire, respectons-là !</h1>
      </div>
  
      <div class="hero-container container d-flex justify-content-center">
          <div class="col-lg-6 col-8 ">
              <div class=" ">
                  <h2 class="display-6 display-md-4 ">Sublimez votre expérience de lessive </h2>
                  <div class="">
                      <p>Nous vous proposons une variété de services pour un nettoyage professionnel
                          impeccable :</p>
                      <ul class="list-unstyled ">
                          <li>Lavage,</li>
                          <li>Repassage,</li>
                          <li>Blanchissage,</li>
                          <li>Retouches....</li>
                      </ul>
                  </div>
                  <p> Nous sommes spécialisé dans le nettoyage de vêtements en <strong>cuir et
                          daim.</strong></p>
              </div>
          </div>

         

          <div class="col-lg-6 fs-24">
              <div class="  m-4">
                  <img src="Business-case-images/fonds/image-femme.png" alt="">
              </div>
          </div>

          <div class="col-lg-12 col-6 d-flex justify-content-center">
              <a href="pages/solutions.html"  class="btn"> Passer commande</a>
          </div>
      </div>
  </div>
</section>
