a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: var(--bg2);
  border-bottom: 2px solid #5fbae9;
}

.form-container {
  background: #fff; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.1);
}

.form-background {
  background: #e7e8e4; 
}

.form-container form {
  width: 100%;
}

.form-control {
  border-radius: 20px;
  border: 1px solid #ddd;
}

.buton {
  background-color: var(--bg2);
  border-radius: 20px;
  color: var(--light);
  font-size: 16px;
  padding: 10px 20px;
  border: transparent;
}

.buton:hover {
  border: 2px solid var(--bg2);
  background-color: transparent;
  color: var(--bg2);
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .form-container {
    margin-bottom: 2rem;
  }
}
