<main>
  <!-- section promo -->
  <section >
      <div class="container ">
          <div class="row ">
                  <div class="my-3 col-4 ">
                      <p>Code promo 1ère commande : PRESSING10</p>
                  </div>
             
                  <div class=" my-3 col-4">
                      <p>Montant minimum de commande : 30 €</p>
                  </div>
              
                  <div class=" my-3 col-4">
                      <p>Commandez aussi au  04 78 77 56 66</p>
                  </div>
          </div>
      </div>
  </section>
  <section class="bg ">
    <div class="col-12 d-flex justify-content-center align-items-center  py-3">
        <h1 class="display-1 ">Contactez-nous</h1>
        <img src="/Business-case-images/fond-webp/photo_fond_pressing_resultat.webp" alt="" class="img-fluid w-50">
    </div> 
  </section>



  <section >
      <div class="container">
          <div class="row ">
              <div class="col-lg- 12">
                  <div class=" my-5 ">
                      <form method="post" action="traitement php" class="d-flex justify-content-center">
                          <fieldset>
                              <legend class="font-weight-bold text-center mb-4">
                                  <h2>Entrer un contact</h2>
                              </legend>
                              <p>
                                  <label for="nom"></label>
                                  <input class="mb-3 me-2 form-1" type="text" name="nom" id="nom" placeholder="Nom">

                                  <label for="prenom"></label>
                                  <input class="mb-3 form-1" type="text" name="prenom" id="prenom"
                                      placeholder="Prénom">
                              </p>
                              <p>
                                  <label for="email"></label>
                                  <input class="mb-3 form-2" type="email" name="email" id="email" placeholder="Email">
                              </p>
                              <p>
                                  <label for="telephone"></label>
                                  <input class="mb-3 form-2" type="tel" name="telephone" id="telephone"
                                      placeholder="Téléphone">
                              </p>

                              <p>
                                  <label for="message"></label>
                                  <textarea class="mb-3" name="message" id="message" cols="30" rows="10"
                                      placeholder="Message"></textarea>
                              </p>

                              <p>
                                  <input class="btn font-weight-bold" type="submit" value="Envoyer">
                              </p>


                          </fieldset>
                      </form>
                  </div>
              </div> 
          </div>

          <app-location-info></app-location-info>
      </div>
  </section>





