.card {
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

img{
  height: 100px;
  width: 100px;
 
}

h5{
  color: var(--bg);
}


/* css caroussel */



.slider {
  overflow: hidden;
  white-space: nowrap;
 
}

.slide-track {
  display: inline-block;
  animation: carrousel 20s infinite linear;
}

.slide {
  margin: 0 80px;
  width: 80px;
  height: 80px;
}
@keyframes carrousel {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

svg{
  padding-right: 30px;
}

