<!-- Section des témoignages - Composant Bootstrap -->
<section class="bg-light py-5 py-xl-8">
  <!-- Conteneur principal pour le titre et la description -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <!-- Titre de la section -->
        <h2 class="fs-6 text-secondary mb-2 text-uppercase text-center">Clients satisfaits</h2>
        <!-- Description de la section -->
        <p class="display-5 mb-4 mb-md-5 text-center">Nous tenons nos promesses. Découvrez ce que les clients pensent de nos services...</p>
        <!-- Ligne horizontale pour séparer la description des témoignages -->
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>

  <!-- Conteneur pour les témoignages -->
  <div class="container overflow-hidden">
    <div class="row gy-4 gy-md-0 gx-xxl-5">
      
      <!-- Témoignage 1 -->
      <div class="col-12 col-md-4">
        <div class="card border-0 border-bottom border-primary shadow">
          <div class="card-body p-4 p-xxl-5">
            <figure>
              <!-- Icône de témoignage -->
              <svg
              xmlns="http://www.w3.org/2000/svg"
              width="60"
              height="60"
              viewBox="0 0 256 256"
            >
              <g
                fill="none"
                stroke="#debb4d"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              >
                <!-- Dessin de l'icône -->
                <path d="m 49.616696,208.00014 c 0,0 30.383521,0 46.383451,-15.99992" />
                <path d="m 96.000147,192.00022 c 0,0 15.999943,15.99992 31.999853,15.99992" />
                <path d="m 206.38331,208.00012 c 0,0 -30.38351,2e-5 -46.38345,-15.9999" />
                <path d="m 159.99986,192.00022 c 0,0 -15.99994,15.99992 -31.99986,15.99992" />
                <path d="m 128,48.000858 c 31.99986,0 47.9998,15.999926 47.9998,63.999712 -1e-5,39.99983 -31.99988,63.99971 -47.9998,63.99971" />
                <path d="m 128,48.000858 c -31.999857,0 -47.999787,15.999926 -47.999783,63.999712 3e-6,39.99983 31.999873,63.99971 47.999793,63.99971" />
                <path d="m 159.99986,192.00022 -7.41601,-27.67694" />
                <path d="m 96.000147,192.00022 7.416013,-27.67694" />
                <circle cx="128" cy="128" r="111.999" />
              </g>
            </svg>
              <figcaption>
                <!-- Évaluation en étoiles -->
                <div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
                <!-- Citation du témoignage -->
                <blockquote class="bsb-blockquote-icon mb-4">“ Un service impeccable de la prise de commande à la livraison. Vraiment pratique et de grande qualité ! Je recommande !“</blockquote>
                <!-- Nom du client -->
                <h4 class="mb-2">By Pierre-Emmanuel</h4>
                <!-- Étoiles représentant l'évaluation -->
                <div class="text-warning mb-2">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      
      <!-- Témoignage 2 -->
      <div class="col-12 col-md-4">
        <div class="card border-0 border-bottom border-primary shadow-sm">
          <div class="card-body p-4 p-xxl-5">
            <figure>
              <!-- Icône de témoignage -->
              <svg
              xmlns="http://www.w3.org/2000/svg"
              width="60"
              height="60"
              viewBox="0 0 256 256"
            >
              <g
                fill="none"
                stroke="#debb4d"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              >
                <!-- Dessin de l'icône -->
                <path d="m 49.616696,208.00014 c 0,0 30.383521,0 46.383451,-15.99992" />
                <path d="m 96.000147,192.00022 c 0,0 15.999943,15.99992 31.999853,15.99992" />
                <path d="m 206.38331,208.00012 c 0,0 -30.38351,2e-5 -46.38345,-15.9999" />
                <path d="m 159.99986,192.00022 c 0,0 -15.99994,15.99992 -31.99986,15.99992" />
                <path d="m 128,48.000858 c 31.99986,0 47.9998,15.999926 47.9998,63.999712 -1e-5,39.99983 -31.99988,63.99971 -47.9998,63.99971" />
                <path d="m 128,48.000858 c -31.999857,0 -47.999787,15.999926 -47.999783,63.999712 3e-6,39.99983 31.999873,63.99971 47.999793,63.99971" />
                <path d="m 159.99986,192.00022 -7.41601,-27.67694" />
                <path d="m 96.000147,192.00022 7.416013,-27.67694" />
                <circle cx="128" cy="128" r="111.999" />
              </g>
            </svg>
              <figcaption>
                <!-- Évaluation en étoiles -->
                <div class="bsb-ratings text-warning mb-3" data-bsb-star="4" data-bsb-star-off="1"></div>
                <!-- Citation du témoignage -->
                <blockquote class="bsb-blockquote-icon mb-4">“ Un service impeccable de la prise de commande à la livraison. Vraiment pratique et de grande qualité ! Je recommande !“</blockquote>
                <!-- Nom du client -->
                <h4 class="mb-2">By Loïc Smith</h4>
                <!-- Étoiles représentant l'évaluation -->
                <div class="text-warning mb-2">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star"></i>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      
      <!-- Témoignage 3 -->
      <div class="col-12 col-md-4">
        <div class="card border-0 border-bottom border-primary shadow-sm">
          <div class="card-body p-4 p-xxl-5">
            <figure>
              <!-- Icône de témoignage -->
              <svg
              xmlns="http://www.w3.org/2000/svg"
              width="60"
              height="60"
              viewBox="0 0 256 256"
            >
              <g
                fill="none"
                stroke="#debb4d"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              >
                <!-- Dessin de l'icône -->
                <path d="m 49.616696,208.00014 c 0,0 30.383521,0 46.383451,-15.99992" />
                <path d="m 96.000147,192.00022 c 0,0 15.999943,15.99992 31.999853,15.99992" />
                <path d="m 206.38331,208.00012 c 0,0 -30.38351,2e-5 -46.38345,-15.9999" />
                <path d="m 159.99986,192.00022 c 0,0 -15.99994,15.99992 -31.99986,15.99992" />
                <path d="m 128,48.000858 c 31.99986,0 47.9998,15.999926 47.9998,63.999712 -1e-5,39.99983 -31.99988,63.99971 -47.9998,63.99971" />
                <path d="m 128,48.000858 c -31.999857,0 -47.999787,15.999926 -47.999783,63.999712 3e-6,39.99983 31.999873,63.99971 47.999793,63.99971" />
                <path d="m 159.99986,192.00022 -7.41601,-27.67694" />
                <path d="m 96.000147,192.00022 7.416013,-27.67694" />
                <circle cx="128" cy="128" r="111.999" />
              </g>
            </svg>
              <figcaption>
                <!-- Évaluation en étoiles -->
                <div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
                <!-- Citation du témoignage -->
                <blockquote class="bsb-blockquote-icon mb-4">“ Un service impeccable de la prise de commande à la livraison. Vraiment pratique et de grande qualité ! Je recommande !“</blockquote>
                <!-- Nom du client -->
                <h4 class="mb-2">By Luke Reeves</h4>
                <!-- Étoiles représentant l'évaluation -->
                <div class="text-warning mb-2">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
