<!-- Section principale avec l'en-tête et les points clés -->
<section>
  <div class="container-fluid hero-bg">
    <div class="hero-container container">
      <!-- En-tête principal -->
      <div>
        <div>
          <!-- TITRE PRINCIPAL -->
          <h2 class="mb-3 d-flex justify-content-center justify-content-md-start display-4 text-center text-md-start">
            <b>Propre, Simple et Rapide !</b>
          </h2>
          
          <!-- POINTS CLÉS -->
          <div class="fs-2">
            <!-- PREMIER POINT -->
            <p class="text-white d-flex justify-content-center justify-content-md-start mb-4 align-items-center">
              <span class="icone-cleaning"></span>
              Sélectionner votre service
            </p>

            <!-- DEUXIÈME POINT -->
            <p class="text-white d-flex justify-content-center justify-content-md-start align-items-center mb-4">
              <span class="icone-cart"></span>
              Ajouter vos vêtements
            </p>
          </div>

          <!-- BOUTON DE COMMANDE -->
          <div class="pt-3 d-flex justify-content-center justify-content-md-start mb-4">
            <button
              type="button"
              class="btn px-4 py-3 fs-5 mb-5"
              (click)="redirectToCommandeModal()"
              data-bs-toggle="modal" 
              data-bs-target="#staticBackdrop"
            >
              <span class="me-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                  <rect width="24" height="24" fill="none"/>
                  <path fill="none" stroke="#0077b6" stroke-width="2" d="M2 12h20l-2 11H4zm18-4l-6-7M4 8l6-7M1 8h22v4H1zm7 7v5m8-5v5m-4-5v5"/>
                </svg>
              </span>
              COMMANDER
            </button>
          </div>

          <!-- Modal de commande -->
          <app-modal-commande
            [solutions]="solutions"
            [categories]="categories"
            [products]="products"
            [matters]="matters">
          </app-modal-commande>
          
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section des tarifs -->
<section class="my-50">
  <div class="container">
    <!-- TITRE DES TARIFS -->
    <h2 class="mb-4 d-flex align-items-center"><span class="border-title px-2">NOS TARIFS</span></h2>
    <p>Cliquer sur une catégorie pour consulter les tarifs de nos solutions !</p>
    <!-- Accordéon des catégories -->
    <div class="mb-4 row" >
      <div class="accordion-item col-md-6 col-12" *ngFor="let category of categories">
        <h2>
          <button class="accordion-button mb-4 rounded" type="button" (click)="toggleAccordion(category.id)">
            <img [src]="urlPicture + category.picture" alt="{{ category.name }}" class="me-2 img-fluid category-image rounded-start"/>
            <h4 class="ps-5 me-3 me-md-5 fs-sm"><b>{{ category.name }}</b></h4>
          </button>
        </h2>
        <div *ngIf="isOpen(category.id)">
          <div class="accordion-body">
            <div class="row">
              <div *ngFor="let product of category.products  "class="col-lg-4 col-6 mb-3">
                <div class="card shadow h-100">
                  <div class="row">
                    <div class="col-6">
                      <img [src]="urlPicture + product.picture" alt="{{ product.name }}" class="img-fluid w-100 product-image m-2 rounded shadow">
                    </div>
                    <div class="col-6 d-flex align-items-center">
                      <p>{{ product.name }}</p>
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-footer text-center">
                      <small class="text-muted">A partir de : {{ product.price }} €</small>
                    </p>
                    <button
                    type="button"
                    class="btn w-100  "
                    (click)="redirectToCommandeModal()"
                    data-bs-toggle="modal" 
                    data-bs-target="#staticBackdrop"
                    >
                    <span class="me-2 ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24">
                        <rect width="24" height="24" fill="none"/>
                        <path fill="none" stroke="#0077b6" stroke-width="2" d="M2 12h20l-2 11H4zm18-4l-6-7M4 8l6-7M1 8h22v4H1zm7 7v5m8-5v5m-4-5v5"/>
                      </svg>
                    </span >
                    COMMANDER
                  </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
