

.hero-bg {
  background-image: url('/uploads/fond_hero_prestations.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  height: 50vh;
  box-sizing: border-box;
  padding-top: 50px;
}

.category-image{
  width: 200px;
  height: 100px;
}

.product-image{
  width: 50px;
  height: 100px;
}


.accordion-button{
  background-color: #E29E21;
}

label{
  color: var(--texte);
}


.input-group .btn {
  width: 40px;
}

.input-group .form-control {
  text-align: center;
}


.modal-lg {
  max-width: 90%;
}

.modal-body img {
  width: 100%;
  height: auto;
}

.modal-body .list-group-item {
  display: flex;
  justify-content: space-between;
}

.accordion-body {
  background-color: #f8f9fa; /* Assurez-vous que le fond est visible */
  padding: 15px; /* Ajoutez un peu d'espace pour vérifier */
}
