.btn {
  background-color: var(--bg2);
  border-radius: 10px;
  border: none;
  color: var(--light);
  font-size: 10px;
  padding: 10px 20px;
}

.btn:hover {
  border: 2px solid var(--bg2);
  background-color: transparent;
  color: var(--bg2);
}

.card {
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.hero-bg {
  background-image: url("/uploads/fond_hero_prestations.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-top: 50px;
}

.category-image {
  width: auto;
  height: auto;
}

.product-image {
  width: auto;
  height: auto;
}

.accordion-button {
  background-color: #e29e21;
}

label {
  color: var(--texte);
}

.input-group .btn {
  width: 40px;
}

.input-group .form-control {
  text-align: center;
}

.modal-lg {
  max-width: 90%;
}

.modal-body img {
  width: 100%;
  height: auto;
}

.modal-body .list-group-item {
  display: flex;
  justify-content: space-between;
}

.accordion-body {
  background-color: #f8f9fa; /* Assurez-vous que le fond est visible */
  padding: 15px; /* Ajoutez un peu d'espace pour vérifier */
}
