<section class="  my-5">
  <div class="container ">
      <h2 class="mb-4 text-center text-lg-start"><span class="border-title px-2">NOS SOLUTIONS</span></h2>
          <p class="text-center texte2 fs-5">Vous choisissez les services qui répondent le mieux à vos besoins et nous nous occupons du reste.</p>

      
      <div  class="row my-4">
          <div *ngFor="let solution of solutions" class="col-lg-3">
              <div class=" mb-4 text-center ">
                
                <div>
                  <h3><strong>{{solution.name}}</strong></h3>
                
                  <p>{{solution.description}}</p>
                </div>

                <div>
                  <img [src]="solution.picture" class="rounded img-fluid"
                      alt="photo-repassage">
                    </div>

              </div>
          </div>

          <!-- <div class="col-lg-3">
              <div class=" mb-4 text-center ">
                  <img src="/Business-case-images/img-webp/photos-blanchisserie.-250x250_resultat.webp" class="rounded img-fluid" alt="photo-blanchisserie">
                  <div>
                      <p>La blanchisserie professionnelle, c'est un luxe accessible.</p>
                      <h3><strong>Blanchissage</strong></h3>
                  </div>
                  
              </div>
          </div>

          <div class="col-lg-3">
              <div class=" mb-4 text-center ">
                  <h3><strong>Repassage</strong></h3>
                  <p>Vos vêtements sont repassés sans effort de votre part .</p>
                  <img src="/Business-case-images/img-webp/photo-repassage-250x250_resultat.webp "
                      class="rounded img-fluid" alt="photo-repassage">
              </div>
          </div>

          <div class="col-lg-3">
              <div class=" mb-4 text-center ">
                  <img src="/Business-case-images/img-webp/Photo-retouche-250x250_resultat.webp"
                      class="rounded img-fluid" alt="photo-repassage">
                  <p>Donnez une nouvelle vie à vos vêtements avec nos retouches personnalisées</p>
                  <h3><strong>Retouches</strong></h3>
              </div>
          </div> -->
      </div>

  </div>
</section>
