a{
  color: var(--bg2);
}

p{
  width: 350px;
  text-align: justify;
}

.bg-article{
  background-color: #E5DFCA;
}


.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

h5{
  color: var(--bg2);
}


