<section class="bg-article">
  <div class="container py-5 my-5">
    <h2 class="my-4">
      <span class="border-title mb-4 ps-2">NOS CONSEILS D'EXPERT</span>
    </h2>
    <div class="row gap-5 justify-content-center">
      <div
        *ngFor="let article of articles"
        class=" col-lg-3 col-md-6 col-12  p-0"
      >
        <div class="">
          <h3 class="text-center">{{ article.title }}</h3>
        </div>
        <div class="">
          <img
            [src]="article.picture"
            class=" w-100 img-fluid"
            alt="{{ article.title }}"
          />
        </div>
        <div class="">
          <h5 class=" w-auto">{{ article.subtitle }}</h5>
          <p class=" line-clamp w-auto">{{ article.description }}</p>
          <p class=" w-auto">Publié le : {{ article.dateCreate | date }}</p>
          <div class=" w-auto">
            <a [routerLink]="['/article-details', article.id]"><b > >>> En savoir plus <<< </b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
