a{
  color: var(--bg2);
}

p{
  width: 350px;
  text-align: justify;
}

.bg-article{
  background-color: #E5DFCA;
}




h5{
  color: var(--bg2);
}


.figure-caption-overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* bande transparente noire */
  color: white; /* texte blanc */
  text-align: center;
  padding: 5px 0;
}

h4{
  color: var(--light);
}
