<section *ngIf="user">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white "
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h2>{{user.name}}</h2>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h4>Information</h4>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Nom</h6>
                    <p class="text-muted">{{user.name}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Prénom</h6>
                    <p class="text-muted">{{user.firstName}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{user.email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Phone</h6>
                    <p class="text-muted">{{user.phone}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Adresse</h6>
                    <p class="text-muted">{{user.adress}}</p>
                  </div>
                </div>
                <h4>Vos commandes</h4>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-12 mb-3 ">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>N° de commande</th>
                          <th>Date</th>
                          <th>Prix</th>
                          <th>Voir détails</th>
                        </tr>
                      </thead>
                      <tbody>         
                        <tr *ngFor="let order of orders ">            
                          <td>N° {{order.id}}</td> 
                          <td>{{order.date }}</td>  
                          <td>{{order.totalPrice }} €</td>
                          <td>
                            <button class="btn " (click)="toggleOrderDetails(order.id + '')">Détail</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>