<section *ngIf="user">
  <div class="container py-5 h-100">
    <h1 class="text-center mb-4">Profil Utilisateur</h1>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white d-flex flex-column align-items-center justify-content-center" style="border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h2>{{ user.name }}</h2>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h4>Information</h4>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Nom</h6>
                    <p class="text-muted">{{ user.name }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Prénom</h6>
                    <p class="text-muted">{{ user.firstName }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{ user.email }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Téléphone</h6>
                    <p class="text-muted">{{ user.phone }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Adresse</h6>
                    <p class="text-muted">{{ user.adress }}</p>
                  </div>
                </div>
                <h4>Vos commandes</h4>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <div class="accordion" id="accordionExample" *ngFor="let order of user.orders " >
                      <div class="accordion-item" >
                        <h2 class="accordion-header">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                            N° de commande : {{order.id}} - Date de commande : {{order.date | date : 'dd-MM-yyyy'}}
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" *ngFor="let item of order.items" >
                          <div class="accordion-body" >
                            <table>
                              <thead>
                                <th>Service</th>
                                <th>Produit</th>
                                <th>service</th>
                                <th>Prix</th>
                              </thead>
                              <tbody   *ngFor="let service of item.serviceItem ">
                                <td *ngIf="item.serviceItem && item.serviceItem.length">{{service.name}}</td>
                              </tbody>
                            </table>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
