.gradient-custom {
  /* fallback for old browsers */
  background: var(--bg2);
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, #e29e21, #add4db);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, #e29e21, #add4db)
  }

  h2{
    color: var(--texte);
  }

  .picture{
    width: 5rem;
    border-radius: 3rem;
    margin-bottom: 2rem;
  }

.orange{
  color: var(--bg2);
}

.blue{
  color: var(--texte);
}

.green{
  color: var(--bg);
}