img{
  width: 60px;
}


/* Réduction de la taille des boutons */
.btn {
  font-size: 0.875rem; /* Réduit la taille du texte */
  padding: 0.5rem 1rem; /* Réduit l'espacement interne */
  border-radius: 15px; /* Ajuste les coins arrondis */
}

/* Espacement entre les boutons */
.btn + .btn {
  margin-left: 0.5rem; /* Ajoute un espace entre les boutons */
}

/* Réduire la taille du texte dans le tableau */
table {
  font-size: 0.875rem; 
  table-layout: fixed; 
  width: 100%; 
}

th, td {
  word-wrap: break-word; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}



h6,th{
  color: var(--bg);
}

