<!-- Modal pour passer une commande -->
<div
  class="modal modal-xl fade"
  id="staticBackdrop"
  #staticBackdrop
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel">
          PASSER VOTRE COMMANDE
        </h2>
        <!-- Bouton pour fermer le modal -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      
      <!-- Corps du modal -->
      <div class="modal-body">
        <!-- Titre de la section de sélection de service -->
        <h4 class="mb-3">Sélectionner votre service</h4>

        <!-- Formulaire pour passer la commande -->
        <form [formGroup]="commandeForm" (submit)="addToCart()">
          <!-- Section des services -->
          <div class="container mb-3">
            <div class="row">
              <!-- Liste des services disponibles -->
              <div class="col-lg-3 col-6" *ngFor="let service of solutions">
                <!-- Nom et prix du service -->
                <div class="text-center m-auto mb-3">
                  <h6>{{ service.name }}</h6>
                  <p>à partir de {{ service.price }} €</p>
                </div>
                <!-- Icône du service -->
                <div class="d-flex justify-content-center m-auto">
                  <img [src]="'/uploads/' + service.picture" alt="icone des services" />
                </div>
                <!-- Sélecteur de service -->
                <div>
                  <input
                    class="form-check m-auto mb-5"
                    type="radio"
                    formControlName="service"
                    [value]="service"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Section des catégories et produits -->
          <div class="container mb-3">
            <div class="row">
              <!-- Titre de la section de sélection de produit et matière -->
              <h4 class="mb-3">Ajouter votre vêtement et sa matière</h4>
              
              <!-- Sélecteur de produit -->
              <div class="col-lg-5 col-12 mb-3">
                <select
                  id="productSelect"
                  class="form-select"
                  aria-label="Choisir produit"
                  formControlName="product"
                >
                  <option value="" disabled> Vêtements</option>
                  <!-- Liste des produits disponibles -->
                  <option *ngFor="let product of products" [ngValue]="product">
                    {{ product.name }} - A partir de {{ product.price }} €
                  </option>
                </select>
                <!-- Message d'erreur si le produit n'est pas sélectionné -->
                <div
                  *ngIf="
                    commandeForm.get('product')?.invalid &&
                    (commandeForm.get('product')?.touched ||
                      commandeForm.get('product')?.dirty)
                  "
                  class="text-danger"
                >
                  Ce champ est requis.
                </div>
              </div>

              <!-- Sélecteur de matière -->
              <div class="col-lg-5 col-12 mb-3">
                <select
                  id="matter"
                  class="form-select"
                  aria-label="Choisir matière"
                  formControlName="matter"
                >
                  <option value="" disabled>Matières</option>
                  <!-- Liste des matières disponibles -->
                  <option *ngFor="let matter of matters" [ngValue]="matter">
                    {{ matter.name }} - A partir de {{ matter.price }} €
                  </option>
                </select>
              </div>
              
              <!-- Champ pour la quantité -->
              <div class="col-lg-2 col-12 mb-3">
                <input
                  id="quantityInput"
                  type="number"
                  class="form-control"
                  placeholder="Quantité"
                  formControlName="quantity"
                  min="1"
                  step="1"
                />
              </div>
            </div>
          </div>

          <!-- Section des sélections et boutons -->
          <div class="col-12 container">
            <h5>Vos Sélections</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Service</th>
                  <th scope="col">Produit</th>
                  <th scope="col">Matière</th>
                  <th scope="col">Quantité</th>
                  <th scope="col">Prix Total</th>
                </tr>
              </thead>
              <tbody>
                <!-- Détails de la commande -->
                <tr>
                  <td>{{ commandeForm.value.service?.name }}</td>
                  <td>{{ commandeForm.value.product?.name }}</td>
                  <td>{{ commandeForm.value.matter?.name }}</td>
                  <td>{{ commandeForm.value.quantity }}</td>
                  <td>{{ calculateTotalPrice() }} €</td>
                </tr>
              </tbody>
            </table>
            <!-- Boutons pour ajouter au panier et voir le panier -->
            <div class="text-center m-5 d-flex justify-content-between">
              <button class="btn" type="submit">Ajouter au panier</button>
              <button class="btn1" (click)="goToCart()">Voir le panier</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
