* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --texte: #0077b6;
  --bg: #add4db;
  --bg2: #e29e21;
  --light: #e9f1fa;
}

html {

  overflow-x: hidden;
}



/* lES COULEURS */
.bg {
  background-color: var(--bg);
}

.texte {
  color: var(--texte);
}

.texte2 {
  color: var(--bg2);
}

.bg2 {
  background-color: var(--bg2);
}

/* LES TAILLES TEXTE ET TITRE */
.fs-16 {
  font-size: 16px;
}

.fs-24 {
  font-size: 20px;
}
.fs-64 {
  font-size: 64px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.my-100 {
  padding: 100px 0px 40px 0px;
}

.pt-120 {
  padding-top: 120px;
}

h1,
h2 {
  color: var(--bg2);
}

p,ul,h3,h4,h5 {
  color: var(--texte);
}



.btn {
  background-color: var(--bg2);
  border-radius: 20px;
  color: var(--light);
  font-size: 16px;
  padding: 10px 20px;
}

.btn:hover{
  border: 2px solid var(--bg2);
  background-color: transparent;
  color: var(--bg2);
}



.border-title {
  border-left: #0077b6 solid 7px;
  border-radius: 2px;
}

a{
  text-decoration: none;
  color: var(--light);
}


