<section >
  <div class="container py-5">
    
      <div  id="formContent" class="row d-flex justify-content-center align-items-center h-100 wrapper fadeInDown ">
        <div class="col-lg-12 col-xl-11">
          <div class="card" style="border-radius: 25px">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1">
                  <h2 class="text-center mb-5 ">Inscription </h2>
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div>
                      <div class="row">
                        <div class="col-6">
                          <input formControlName="name" type="text" placeholder="Nom"
                          class="mb-3 me-2 p-2 rounded form-control" />
                        </div>
                        <div class="col-6">
                          <input formControlName="firstName" type="text" placeholder="Prénom"
                        class="mb-3 p-2 rounded form-control" />
                        </div>
                      </div>
                     
                      <div>
                        <input formControlName="phone" type="text" placeholder="Téléphone"
                        class="mb-3 p-2 rounded form-control" />
                        <div *ngIf="loginForm.get('phone')?.invalid && loginForm.get('phone')?.touched">
                          Téléphone requis (au moins 10 chiffres)
                        </div>
                      </div>
                      
                      <div>
                        <input formControlName="adress" type="text" placeholder="Adresse"
                        class="mb-3 p-2 rounded form-control" />
                      </div>
                      <div>
                        <input formControlName="email" type="email" placeholder="Email"
                        class="mb-3 p-2 rounded form-control" />
                        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                        Email invalide
                        </div>
                      </div>
  
                      <div>
                        <input type="password" formControlName="password" placeholder="Mot de passe"
                        class="mb-5 p-2 rounded form-control" />
                        <div *ngIf=" loginForm.get('password')?.invalid && loginForm.get('password')?.touched ">
                          Mot de passe requis (au moins 6 caractères)
                        </div>
                      </div> 
                      <button class="buton " type="submit" [disabled]="loginForm.invalid">
                        S'inscrire
                      </button>
                      <p class="mt-3">
                        Déjà inscrit ?
                        <a routerLink="/connexion">Connectez-vous ici</a>
                      </p>
                    </div>
                  </form>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>